.layout-header{
	position: relative;
	&-wrapper{
		position: relative;
		padding: 24px 0;
	}
	&-logo{
		svg{
		}
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		&-title{
			span{
				color: var(--color-light);
				font-size: 32px;
				text-wrap: nowrap;
			}
		}
	}
	&-bg{
		position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1 / 1;
    width: 200%;
    height: auto;
    border-radius: 100%;
    background: radial-gradient(circle,rgba(0, 152, 234, 0.2) 0%, rgba(0, 152, 234, 0.2) 19%, rgba(26,201,255,.3) 50%,hsla(0,0%,100%,0) 100%);
    filter: blur(50px);
    top: 0;
		left: 50%;
    z-index: -1;
    transform: translate(-50%, -70%);
		@include devices(md) {
			width: 100%;
		}
	}
}