<script setup lang="ts">
onMounted(() => {});
</script>

<template>
  <a-config-provider>
    <div class="layout-main">
      <LayoutsHeader></LayoutsHeader>
      <div class="layout-body">
        <NuxtLayout>
          <NuxtPage />
        </NuxtLayout>
      </div>
      <footer class="layout-footer">
        <!-- <LayoutsFooter></LayoutsFooter> -->
      </footer>
    </div>
  </a-config-provider>
</template>
