.floats-battery{
	position: fixed;
	top: 60vh;
	left: 50vw;
	z-index: 9;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	.battery{
		display: flex;
		flex-direction: column;
		align-items: center;
		animation: coming-from-back ease 3s;
		&-head{
			width: 90px;
			height: 40px;
			border-radius: 50px 50px 0 0;
			background-color: var(--color-gray);
			margin-bottom: -2px;
		}
		&-body{
			background-color: var(--color-bg-main);
			height: 350px;
			border: 14px solid var(--color-gray);
			border-radius: 50px;
			padding: 12px;
			width: 250px;
			display: flex;
			flex-direction: column;
		}
		&-charge{
			transition: height 1s linear;
			margin-top: auto;
			border-radius: 30px;
			width: 100%;
			height: 0;
			filter: drop-shadow(0 0 1.1rem var(--color-blue));
			background-color: var(--color-blue);
		}
		&-splash{
			filter: drop-shadow(0 0 1.1rem rgb(69, 232, 145));
			margin: auto;
			&.disabled{
				display: none;
			}
		}
	}
	
}

@keyframes coming-from-back{
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}