@import 'battery';

.floats{
	&-ton{
		position: fixed;
		top: 10%;
		left: 10%;
		z-index: 29;
	}
	&-usdt{
		position: fixed;
		bottom: 10%;
		right: 10%;
		z-index: 29;
	}
	&-usdt, &-ton{
		@include devices(sm) {
			display: none;
		}
	}
}