<script setup lang="ts"></script>

<template>
  <header class="layout-header">
    <div class="container">
      <div class="layout-header-wrapper">
        <a-row justify="center" :gutter="[24, 24]">
          <a-col>
            <div class="layout-header-logo">
              <svg-logo></svg-logo>
              <div class="layout-header-logo-title">
                <span>Батарейки Тонкипера</span>
              </div>
            </div>
          </a-col>
        </a-row>
        <div class="layout-header-bg"></div>
      </div>
    </div>
  </header>
</template>
