<script setup></script>

<template>
  <div class="floats-battery">
    <div class="battery gsap-battery">
      <div class="battery-head"></div>
      <div class="battery-body">
        <div class="battery-splash">
          <svg-splash></svg-splash>
        </div>
        <div class="battery-charge"></div>
      </div>
    </div>
  </div>
</template>
