<script setup lang="ts">
const { $Draggable: Draggable } = useNuxtApp();
onMounted(() => {
  Draggable.create("#ton", {
    bounds: document.getElementById(".page-home"),
  });
});
</script>

<template>
  <div class="floats-ton">
    <svg-ton id="ton"></svg-ton>
  </div>
</template>
