<script setup lang="ts">
const { $Draggable: Draggable } = useNuxtApp();
onMounted(() => {
  Draggable.create("#usdt", {
    bounds: document.getElementById(".page-home"),
  });
});
</script>

<template>
  <div class="floats-usdt">
    <svg-usdt id="usdt"></svg-usdt>
  </div>
</template>
