:root{
	--color-bg-main: #10161f;
	--color-bg-header: rgb(29, 38, 51);
	--color-light: #fff;
	--color-gray: #3F4D58;
	--color-gray-06: rgba(63, 77, 88, 0.6);
	--color-blue: #44AFF5;
	--color-blue-04: rgba(68, 175, 245, 0.4);
}