@import "config", 'components', 'pages';

body{
  overflow-x: hidden;
  background-color: var(--color-bg-main);
}

* {
  font-family: 'Product Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: initial;
  &:hover{
    color: initial;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: calc(1640px + 48px);
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}