<script setup lang="ts"></script>

<template>
  <section class="home-how-works">
    <div class="container">
      <div class="home-how-works-wrapper">
        <div class="home-section-header">
          <h2>Как это работает?</h2>
        </div>
        <div
          class="home-section-content home-how-works-content home-section home-section-fullscreen"
        >
          <h3>
            С помощью батарейки вы можете платить токенами (стейблкоинами, NFT и
            т.д.)
            <span>
              без необходимости покупки тонов в обменниках для оплаты
              блокчейн-комиссий.
            </span>
            Батарейка оплачивает комиссию за вас автоматически.
          </h3>
        </div>
        <div
          class="home-section-content home-section-content-right home-how-works-content home-section home-section-fullscreen"
        >
          <h3>
            Вы можете зарядить батарейку по карте используя встроенные платежи
            на iOS или с помощью тонов или стейблкоинов. Отправьте несколько
            долларов в стейблкоинах или тонах на специальный адрес
            <a target="_blank" href="https://tonviewer.com/battery.ton">
              <span>battery.com</span>
            </a>
            — батарейка будет заряжена для вашего кошелька.
          </h3>
        </div>
        <div
          class="home-section-content home-how-works-content home-section home-section-fullscreen"
        >
          <h3>
            Батарейка Тонкипера измеряется в <span> зарядах, </span> каждый
            заряд покрывает комиссию за простую транзакцию TON перевода. Более
            сложные транзакции могут потребовать 5, 10 и более зарядов.
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>
