<script setup lang="ts"></script>

<template>
  <section class="home-introduction">
    <div class="container">
      <div class="home-introduction-wrapper"></div>
    </div>
  </section>
</template>
