<script setup lang="ts"></script>

<template>
  <section class="home-section-three home-section home-section-fullscreen">
    <div class="container">
      <div class="home-section-three-wrapper">
        <div
          class="home-section-three-content home-section-content home-section-content-right"
        >
          <h3>
            <span>Батарейка Тонкипера</span> сильно облегчает жизнь новым
            пользователям: вы можете поставить кошелек, получить
            <span>стейблкоин</span> или <span>NFT</span>, и сразу же начать их
            использовать, без использования тонов для оплаты газа. Вам не нужно
            регистрироваться в обменниках и проходить проверки документов только
            для покупки непонятного количества монет для оплаты непонятного
            газа.
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>
