<script setup lang="ts"></script>

<template>
  <section class="home-section-four home-section home-section-fullscreen">
    <div class="container">
      <div class="home-section-four-wrapper">
        <div class="home-section-four-content home-section-content">
          <h3>
            С батарейкой вам больше никогда
            <span> не придется беспокоиться об оплате газа. </span> Пополните
            свою батарейку банковской картой или стейблкоином и сразу же начните
            использовать все функции вашего кошелька.
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>
