<script setup lang="ts"></script>

<template>
  <section class="home-section-two home-section home-section-fullscreen">
    <div class="container">
      <div class="home-section-two-wrapper">
        <div class="home-section-two-content home-section-content">
          <h3>
            Мы рады объявить о запуске <span>Батарейки Тонкипера.</span> Она
            доступна уже сегодня в открытом бета-тестировании на всех мобильных
            платформах.
          </h3>
        </div>
      </div>
    </div>
  </section>
</template>
