<script setup lang="ts"></script>

<template>
  <section class="home-use home-section home-section-fullscreen">
    <div class="container">
      <div class="home-use-wrapper">
        <div class="home-section-header home-use-header">
          <h2>Начните пользоваться батарейкой</h2>
        </div>
        <a-row :gutter="[24, 24]" justify="center">
          <a-col :xs="24" :md="12" :xl="8">
            <div class="home-use-content">
              <div class="home-use-content-header">
                <a-space align="end" :wrap="true" :size="24">
                  <div class="home-use-content-icon">
                    <svg-apple></svg-apple>
                  </div>
                  <div class="home-use-content-icon">
                    <svg-android></svg-android>
                  </div>
                </a-space>
              </div>
              <p>
                <a target="blank" href="https://tonkeeper.com/">
                  <span>Обновите Тонкипер </span>
                </a>
                на iOS и Android до версии 4.3, затем пополните батарейку в
                Настройках → Батарейка. После зарядки статус батарейки появится
                на главном экране.
              </p>
            </div>
          </a-col>
          <a-col :xs="24" :md="12" :xl="8">
            <div class="home-use-content">
              <div class="home-use-content-header">
                <a-space align="end" :wrap="true" :size="24">
                  <div class="home-use-content-icon">
                    <svg-test></svg-test>
                  </div>
                </a-space>
              </div>
              <p>
                Мы все еще тестируем батарейку: некоторые виды транзакций пока
                не поддерживаются. При зарядке через battery.ton мы поддерживаем
                только jUSDT и TON, другие токены будут добавлены позже.
              </p>
            </div>
          </a-col>
          <a-col :xs="24" :md="12" :xl="8">
            <div class="home-use-content">
              <div class="home-use-content-header">
                <a-space align="end" :wrap="true" :size="24">
                  <div class="home-use-content-icon">
                    <svg-telegram></svg-telegram>
                  </div>
                </a-space>
              </div>
              <p>
                Присоединяйтесь к нашей группе обсуждения открытого
                бета-тестирования батарейки, чтобы сообщить о своих отзывах,
                вопросах и предложениях
                <a href="t.me/batterypublicbeta" target="_blank">
                  <div>👉 <span>t.me/batterypublicbeta</span></div>
                </a>
              </p>
            </div>
          </a-col>
        </a-row>
      </div>
    </div>
  </section>
</template>
