.home-use{
	background-color: var(--color-blue-04);
	backdrop-filter: blur(10px);
	position: relative;
	z-index: 10;
	&-header{
		margin-bottom: 50px;
	}
	&-content{
		border-radius: 20px;
		background-color: var(--color-gray-06);
		padding: 24px;
		height: 100%;
		display: flex;
		flex-direction: column;
		p{
			margin-top: auto;
			color: var(--color-light);
			font-size: 22px;
			span{
				color: var(--color-blue);
			}
		}
		&-header{
			margin-bottom: 24px;
		}
		&-icon{
			width: 70px;
			background-color: var(--color-blue-04);
			padding: 6px;
			border-radius: 6px;
			aspect-ratio: 1/1;
			display: flex;
			align-items: flex-end;
			svg{
				fill: white;
				width: 100%;
				max-height: 100%;
			}
		}
	}
}