@import 'introduction', 'section-two', 'section-three', 'section-four', 'how-works', 'use';
.home-section{
	padding: 45px 0;
	&-fullscreen{
		display: flex;
		align-items: center;
		min-height: 100vh;
	}
	&-header{
		position: relative;
		z-index: 19;
		h2{
			color: var(--color-light);
			font-size: 72px;
			text-align: center;
		}
	}
	&-content{
		position: relative;
		z-index: 19;
		h3{
			color: var(--color-light);
			font-size: 46px;
			span{
				color: var(--color-blue);
			}
		}
		&-right{
			margin-left: auto;
		}
	}
	
	@include devices(sm) {
		padding: 20px 0 !important;
		&-content{
			max-width: 100%;
			text-align: center;
			h3{
				font-size: 32px;
			}
			&-right{
				margin-left: 0;
			}
		}
		&-header{
			h2{
				font-size: 40px;
			}
		}
	}
}