<script setup lang="ts">
const { $gsap: gsap } = useNuxtApp();

function convertVwToPx(value: string) {
  return (parseFloat(value) * window.innerWidth) / 100;
}

function convertVhToPx(value: string) {
  return (parseFloat(value) * window.innerHeight) / 100;
}

const startGsapBattery = () => {
  let charge = document.querySelector(".battery-charge");
  let chargeElement = charge as HTMLElement;

  let mm = gsap.matchMedia();

  mm.add("(min-width: 1440px)", () => {
    let test = gsap.timeline({
      scrollTrigger: {
        trigger: ".page-home",
        start: 0,
        scrub: true,
      },
    });
    test.fromTo(
      ".gsap-battery",
      { x: 0, y: 0 },
      {
        ease: "none",
        motionPath: {
          path: [
            { x: convertVwToPx("30vw"), y: convertVhToPx("-10vh") },
            { x: convertVwToPx("30vw"), y: convertVhToPx("-5vh") },
            { x: convertVwToPx("30vw"), y: convertVhToPx("10vh") },
            { x: convertVwToPx("-37vw"), y: convertVhToPx("-20vh") },
            { x: convertVwToPx("-40vw"), y: convertVhToPx("0vh") },
            { x: convertVwToPx("25vw"), y: convertVhToPx("-35vh") },
            { x: convertVwToPx("35vw"), y: convertVhToPx("0vh") },
            { x: convertVwToPx("-35vw"), y: convertVhToPx("-10vh") },
            { x: convertVwToPx("40vw"), y: convertVhToPx("0vh") },
            { x: convertVwToPx("-60vw"), y: convertVhToPx("-20vh") },
          ],
        },
      }
    );
  });

  gsap.to(".battery-splash", {
    scrollTrigger: {
      trigger: ".home-section-two",
      start: "bottom bottom",
      end: "10px top",
      toggleActions: "restart restart reverse reverse",
    },
    onStart: () => {
      let splash = document.querySelector(".battery-splash");
      if (splash) {
        splash.classList.add("disabled");
      }
    },
    onReverseComplete: () => {
      let splash = document.querySelector(".battery-splash");
      if (splash) {
        splash.classList.remove("disabled");
      }
    },
  });
  gsap.to(".battery-charge", {
    scrollTrigger: {
      trigger: ".home-section-three",
      start: "bottom bottom",
      end: "10px top",
      toggleActions: "restart restart reverse reverse",
    },
    onStart: () => {
      if (chargeElement) {
        chargeElement.style.height = "25%";
      }
    },
    onReverseComplete: () => {
      if (chargeElement) {
        chargeElement.style.height = "0%";
      }
    },
  });
  gsap.to(".battery-charge", {
    scrollTrigger: {
      trigger: ".home-section-four",
      start: "bottom bottom",
      end: "10px top",
      toggleActions: "restart restart reverse reverse",
    },
    onStart: () => {
      if (chargeElement) {
        chargeElement.style.height = "50%";
      }
    },
    onReverseComplete: () => {
      if (chargeElement) {
        chargeElement.style.height = "25%";
      }
    },
  });
  gsap.to(".battery-charge", {
    scrollTrigger: {
      trigger: ".home-how-works",
      start: "bottom bottom",
      end: "10px top",
      toggleActions: "restart restart reverse reverse",
    },
    onStart: () => {
      if (chargeElement) {
        chargeElement.style.height = "75%";
      }
    },
    onReverseComplete: () => {
      if (chargeElement) {
        chargeElement.style.height = "50%";
      }
    },
  });
  gsap.to(".battery-charge", {
    scrollTrigger: {
      trigger: ".home-use",
      start: "center bottom",
      end: "-20px top",
      toggleActions: "restart restart reverse reverse",
    },
    onStart: () => {
      if (chargeElement) {
        chargeElement.style.height = "100%";
      }
    },
    onReverseComplete: () => {
      if (chargeElement) {
        chargeElement.style.height = "75%";
      }
    },
  });
};

onMounted(() => {
  startGsapBattery();
});
</script>

<template>
  <div class="page-home">
    <home-introduction></home-introduction>
    <home-section-two></home-section-two>
    <home-section-three></home-section-three>
    <home-section-four></home-section-four>
    <home-how-works></home-how-works>
    <home-use></home-use>
    <floats-battery></floats-battery>
    <floats-ton></floats-ton>
    <floats-usdt></floats-usdt>
  </div>
</template>
